// Specific CSS for your home-page

.hero-section {
  background-image: asset-url('landing-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  padding: 0;
  margin: 0;
  overflow: hidden;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    background-color: rgba(0,0,0,0.5);
    z-index:1;
  }

  .hero-content {
    position: relative;
    z-index:2;
    max-width: 800px;
    margin:0;
  }
}
