<div class="hero-section">
  <div class="hero-content container">
    <h1 class="fw-bold mb-3 display-4">BEGIN YOUR EPIC ADVENTURE</h1>
    <p class="fs-5 mb-5">Create your own interactive stories, explore choices, and share your feats.</p>
    <div class="d-flex justify-content-center">
      <%= link_to "Start My Journey", new_story_path, class: "btn btn-primary px-4 py-2" %>
    </div>
  </div>
</div>
