// Custom
@import 'theme1';

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Inter:wght@300;400;500;600&display=swap');

// External libraries -- commented out for current theme above ^^^
// @import "bootstrap";
// @import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

label {
  text-transform: capitalize;
}
