// Custom
@import 'theme1';

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries -- commented out for current theme above ^^^
// @import "bootstrap";
// @import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

label {
  text-transform: capitalize;
}
